body {
	background-color: whiteSmoke;
	padding: 20px 0px 0px 0px;
	color: #000;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover{
	color:#00F;
}

#page{
	display: table;
	width: 750px;
	margin: auto;
	background-color: #FFF;
	box-shadow: 5px 5px 5px #333;
	padding: 30px;
}




